body {
    position: relative; /* Necessário para o pseudo-elemento ser posicionado corretamente */
    margin: 0;
    height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Garante que o pseudo-elemento cubra o body */
    background-image: url('midia/logotipo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    opacity: 0.3; /* Aplica a opacidade desejada à imagem */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

/*.solicitacoes { font-weight: bolder; left: 20px; top: 30px; width: 490px; }
.feedbacks { left: 470px; top: 30px; width: 185px; }
.membership { left: 595px; top: 30px; width: 600px;}
.logout { right: 90px; top: 30px; width: 185px; }
    .menu {
    width: 1380px;
    height: 40px;
    left: 80px;
    top: 30px;
    position: absolute;
}

.menu-background {
    width: 1380px;
    height: 100px;
    position: absolute;
    background: #ea6e1c44;
    border-radius: 20px;

}

.menu-item {
    position: absolute;
    text-align: center;
    color: #8a5d23;
    font-size: 36px;
    font-family: Karma;
    font-weight: 400;
    word-wrap: break-word;
} */

.navbar {
    background-color: #f0e3c1;
    padding: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: larger;
}

.contatos {
    position: absolute;
    height: 500px; 
    margin-left: 120px;
    width: 1300px;
    border-radius: 10px;
    background-color:#f0e3c1;
    margin-top: 80px;
}

.request1 {
    position: absolute;
    height: 470px; 
    margin-left: 40px;
    width: 400px;
    border-radius: 10px;
    background-color:#bbd3c592;
    margin-top: 15px;
}

.request2 {
    position: absolute;
    height: 470px; 
    margin-left: 450px;
    width: 400px;
    border-radius: 10px;
    background-color:#bbd3c592;
    margin-top: 15px;
}

.request3 {
    position: absolute;
    height: 470px; 
    margin-left: 860px;
    width: 400px;
    border-radius: 10px;
    background-color:#bbd3c592;
    margin-top: 15px;
}

.nome1 {
    position: absolute;
    top: 300px; 
    left: 10px;
}

.nome2 {
    position: absolute;
    top: 300px; 
    left: 10px;
}

.nome3 {
    position: absolute;
    top: 300px; 
    left: 10px;
}

.numero1 {
    position: absolute;
    top: 350px; 
    left: 10px;
}

.numero2 {
    position: absolute;
    top: 350px; 
    left: 10px;
}

.numero3 {
    position: absolute;
    top: 350px; 
    left: 10px;
}

.email1 {
    position: absolute;
    top: 400px; 
    left: 10px;
}

.email2 {
    position: absolute;
    top: 400px; 
    left: 10px;
}

.email3 {
    position: absolute;
    top: 400px; 
    left: 10px;
}

img {
    height: 290px;
    width: 380px;
    position: absolute;
    top: 10px; 
    left: 10px;
    border-radius: 10px;
}
