/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}



/* Conteúdo principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Títulos */
h1, h2 {
    color: #DA9100;
    margin-bottom: 1rem;
}

/* Parágrafos */
p {
    margin-bottom: 1rem;
}

/* Links */
a {
    color: #DA9100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
}
